@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Black.ttf);
    src: url(../fonts/Roboto-Bold.ttf);
    src: url(../fonts/Roboto-Light.ttf);
    src: url(../fonts/Roboto-Regular.ttf);
    src: url(../fonts/icofont.ttf);
    src: url(../fonts/HelveticaNeueLTStd-Bd.otf);
    src: url(../fonts/HelveticaNeueLTStd-Th.otf);
    src: url(../fonts/Pe-icon-7-stroke.ttf);
  }
  
  header {
    position: relative;
    background-image: url(../images/header/PPE.jpg);
    background-repeat: no-repeat; 
    width: 1600px;
    height: 1000px;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
  }
  
  .container {
    margin: 0 auto;
    height: 102px;
    align-items: center;
    background-image: url(../images/header/Shadow.png);
    background-repeat: no-repeat;
  }
  
  
  .header .container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header .container ul li {
    margin-left: 27px;
  }
  
  a {
    text-decoration: none;
    font-family: "Roboto Regular";
    color: white;
  }
  
  p {
    margin-bottom: 0px;
  
  }
  
  .navigation-bar {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    list-style: none;
    display: flex;
    margin-right: 215px;
  }
  
  .logo {
    margin-left: 215px;
  }
  
  .struc {
    text-transform: uppercase;
    font-family: "Helvetica Neue LT Std";
    font-size: 24px;
    color: white;
    margin-left: 13px;
  }
  
  .ture {
    text-transform: uppercase;
    font-family: "Helvetica Neue LT Std";
    font-weight: bold;
    font-size: 24px;
    color: white;
  }
  
  .nav-home {
    font-family: "Roboto Black";
    color: yellow;
    list-style: none;
    font-size: 14px;
  }
  
  .lock-open {
    padding-left: 28px;
  }
  
  .slider-top {
    font-family: "Roboto Light";
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    line-height: 36px;
  }
  
  .slider-top-dream {
    font-family: "Roboto Black";
    font-size: 104px;
    color: yellow;
    text-transform: uppercase;
    line-height: 104px;
  }
  
  .slider-top-dream-house {
    font-family: "Roboto Black";
    font-size: 104px;
    color: white;
    text-transform: uppercase;
    line-height: 104px;
  }
  
  .sliders-top {
    display: flex;
    margin-left: 215px;
    margin-top: 258px;
  }

  .slide-slide {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.consult {
  background-image: url(../images/header/construction.png);
  background-repeat: no-repeat; 
  width: 1600px;
  height: 210px;
  position: relative;
}

.consult-q {
  font-family: 'Roboto Black';
  font-size: 36px;
  text-transform: uppercase;
  align-items: center;
  margin-top: 0px;
  margin-left: 201px;
  padding: 81px 0px 0px 0px;
  display: inline-block;
}

.consult-m {
  font-family: 'Raleway Regular';
  font-size: 14px;
  margin-top: 0px;
  margin-left: 214px;
  padding: 8px 0px 0px 0px;
}

.contactus {
  display: flex;
  position: absolute;
  height: 69px;
  width: 270px;
  right: 215px;
  bottom: 70px;
  align-items: center;
  justify-content: center;
  background-image: url(../images/header/Rectangle.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  color: white;
  font-family: "Roboto Black";
  font-size: 18px;
  text-transform: uppercase;
}

[data-icon]::after {
  font-family: 'eleganticons';
  content: attr(data-icon);
  margin-left: 15px;
}