h1 {
    color: black;
    font-size: 20px;
    text-decoration: underline;
    font-family: Arial, Helvetica;
}

button {
    cursor: pointer;
    border: none;
}

nav {
    ul {
        display: -webkit-box;
        display: flex;

    }
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    button {
        border-radius: 50%;
        width: 20px;
        height: 20px;

    }
}

.btn-red {
    @extend button;
    background-color: red;
}

.btn-shadow {
    @extend .btn-red;
}

.nav {
    border: 1px solid;
    &_list {
        display: -webkit-box;
        display: flex;
    }
    .list {
        list-style-type: none;
    }
    &_link {
        text-decoration: none;
        &:before {
            content: '';
        }
    }
}

.block {
    background-color: red;
    .active-block & {
        overflow: hidden;
        background-color: #fff;
    }
}
.active-block {
    overflow: hidden;
}